<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/booodaLayout}">




<th:block layout:fragment="beyondPageScript">
    <script type="text/javascript">


$(document).ready(function(){

        // 저장
        $("#btnSave").on("click", function(){

            var sCallbackFn = function (data) {
            };

            var fCallbackFn = function (xhr, status) {
            };

            var ajax_post = new POST("/project/add"
                                    , "form1"
                                    , sCallbackFn
                                    , fCallbackFn);

        });
});

    </script>

    <script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
    </script>

</th:block>


<div layout:fragment="content">




                <!-- START PAGE HEADING -->

                <div class="app-heading app-heading-bordered app-heading-page">
                    <div class="title">
                        <h2>Default Elements</h2>
                        <p>Easiest way to make your heading beautiful</p>
                    </div>
                </div>
                <div class="app-heading-container app-heading-bordered bottom">
                    <ul class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Form Elements</a></li>
                        <li class="active">Default Elements</li>
                    </ul>
                </div>
                <!-- END PAGE HEADING -->

                <!-- START PAGE CONTAINER -->
                <div class="container">

                    <!-- BASIC INPUTS -->
                    <div class="block">

                        <div class="app-heading app-heading-small">
                            <div class="title">
                                <h2>Basic Inputs</h2>
                                <p>Ultra Crisp Line Icons with Integrity</p>
                            </div>
                        </div>

                        <form id="form1" class="form-horizontal" method="post">
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 명</label>
                                <div class="col-md-10">
                                    <input type="text" name="prjNm" class="form-control" placeholder="프로젝트 명을 입력해 주세요">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 시작일자</label>
                                <div class="col-md-10">
                                    <input type="text" name="prjBeginDe" class="form-control" placeholder="프로젝트 시작일자를 입력해 주세요">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 종료일자</label>
                                <div class="col-md-10">
                                    <input type="text" name="prjEndDe" class="form-control" placeholder="프로젝트 종료일자를 입력해 주세요">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 영문코드</label>
                                <div class="col-md-10">
                                    <input type="text" name="prjEngCdNm" class="form-control" placeholder="프로젝트 영문 코드를 입력해주세요">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Textarea</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="button" id="btnSave">저장</button>
                            </div>

                        </form>

                    </div>
                    <!-- END BASIC INPUTS -->

                </div>
                <!-- END PAGE CONTAINER -->




</div>