<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/booodaLayout}">

<th:block layout:fragment="beyondPageScript">
    <script type="text/javascript">


        $(document).ready(function(){

            // 신규등록
            $("#btnNew").on("click", function(){
                location.href = "/project/goAdd";
            });

            // 상세 화면으로 이동
            $(".go-view").on("click", function(){
                var goalUrl = "/project/view/" + $(this).attr("data-key");
                location.href = goalUrl;
            });

            // 제안요청서 목록으로 이동
            $("button[name=btnPropslRequestList]").on("click", function(){
                location.href = "/propslRequest/list?prjNo=" + $(this).attr("data-key");
            });

        });

    </script>

</th:block>


<div layout:fragment="content">

                <!-- START PAGE HEADING -->
                <div class="app-heading app-heading-bordered app-heading-page">
                    <div class="title">
                        <h1>프로젝트 관리</h1>
                        <p>프로젝트 목록</p>
                    </div>

                </div>
                <div class="app-heading-container app-heading-bordered bottom">
                    <ul class="breadcrumb">
                        <li><a href="/boooda/#">Dashboard</a></li>
                        <li><a href="/boooda/#">Components</a></li>
                        <li class="active">Tables</li>
                    </ul>
                </div>
                <!-- END PAGE HEADING -->

                <!-- START PAGE CONTAINER -->
                <div class="container">

                    <div class="block block-condensed">
                        <!-- START HEADING -->
                        <div class="app-heading app-heading-small">
                            <div class="title">
<!--                                <h5>Using Template Features</h5>-->
                                <p>프로젝트 목록을 조회합니다.</p>
                            </div>
                        </div>
                        <!-- END HEADING -->

                        <div class="table-responsive">
                            <table class="table table-head-light table-striped">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>프로젝트 명</th>
                                    <th>시작일자</th>
                                    <th>종료일자</th>
                                    <th>관리</th>
                                </tr>
                                </thead>
                                <tbody>

<!--                                private Long prjNo; //프로젝트 번호-->
<!--                                private String prjNm; //프로젝트 명-->
<!--                                private String prjBeginDe; //프로젝트 시작일자-->
<!--                                private String prjEndDe; //프로젝트 종료일자-->
<!--                                private String prjEngCdNm; //프로젝트 영문 코드 명-->

                                <tr th:each="item : ${projectList}">
                                    <input type="hidden" id="prjNo" th:value="${item.prjNo}"/>
                                    <td>
                                        <div class="contact contact-rounded contact-bordered contact-lg status-online">
                                            <img src="/boooda/assets/images/users/user_1.jpg">
                                            <div class="contact-container">
                                                <a href="/boooda/#" th:text="${item.prjNo}"></a>
                                                <span th:text="${item.prjEngCdNm}"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="go-view" th:attr="data-key=${item.prjNo}" style="cursor: pointer">
                                        <p><strong th:text="${item.prjNm}"></strong><br th:text="${item.prjNm}"></p>
                                    </td>
                                    <td th:text="${item.prjBeginDe}"></td>
                                    <td th:text="${item.prjEndDe}"></td>
                                    <td >
                                        <button class="btn btn-default btn-icon" name="btnPropslRequestList" th:attr="data-key=${item.prjNo}"><span class="icon-list"></span></button>
                                        <button class="btn btn-default btn-icon"><span class="icon-users"></span></button>
                                        <button class="btn btn-default btn-icon"><span class="icon-chart-bars"></span></button>
                                        <button class="btn btn-default btn-icon"><span class="icon-clock"></span></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-default" type="button" id="btnNew">신규생성</button>
                        </div>

                    </div>

                </div>
                <!-- END PAGE CONTAINER -->

</div>