<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/booodaLayout}">




<th:block layout:fragment="beyondPageScript">
    <script type="text/javascript">


$(document).ready(function(){

        // 목록으로 이동
        $("#btnList").on("click", function(){
            location.href = "/project/list";
        });

});

    </script>

    <script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
    </script>

</th:block>


<div layout:fragment="content">




                <!-- START PAGE HEADING -->

                <div class="app-heading app-heading-bordered app-heading-page">
                    <div class="title">
                        <h2>프로젝트 관리</h2>
                        <p>프로젝트를 관리합니다.</p>
                    </div>
                </div>
                <div class="app-heading-container app-heading-bordered bottom">
                    <ul class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Form Elements</a></li>
                        <li class="active">Default Elements</li>
                    </ul>
                </div>
                <!-- END PAGE HEADING -->

                <!-- START PAGE CONTAINER -->
                <div class="container">

                    <!-- BASIC INPUTS -->
                    <div class="block">

                        <div class="app-heading app-heading-small">
                            <div class="title">
<!--                                <h2>프로젝트 등록</h2>-->
                                <p>프로젝트 정보를 확인하시기 바랍니다.</p>
                            </div>
                        </div>

                        <form id="form1" class="form-horizontal" method="post">
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 명</label>
                                <div class="col-md-10" th:text="${project.prjNm}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 시작일자</label>
                                <div class="col-md-10" th:text="${project.prjBeginDe}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 종료일자</label>
                                <div class="col-md-10" th:text="${project.prjEndDe}" />
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">프로젝트 영문코드</label>
                                <div class="col-md-10" th:text="${project.prjEngCdNm}" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Textarea</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="8" th:text="${project.prjEngCdNm}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" type="button" id="btnList">목록</button>
                            </div>

                        </form>

                    </div>
                    <!-- END BASIC INPUTS -->

                </div>
                <!-- END PAGE CONTAINER -->




</div>