<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/booodaLayout}">

<th:block layout:fragment="beyondPageScript">
    <script type="text/javascript">
        var domainNm = "component";

        $(document).ready(function(){

            // 저장
            $("#btnSave").on("click", function(){

                var sCallbackFn = function (data) {
                    setTimeout(function(){
                        location.reload();
                    },1000);
                };

                var fCallbackFn = function (xhr, status) {
                };

                var ajax_post = new POST("/" + domainNm + "/save"
                                        , "form1"
                                        , sCallbackFn
                                        , fCallbackFn);

            });

            // 화면 리로드
            $("#btnList").on("click", function(){
                location.reload();
            });

$( "input" ).keyup(function(event) {
    var id = $(this).attr("id");
    var arrId = id.split(',');
    var h = arrId[1];
    var w = arrId[2];


    if( event.which === 13 && event.ctrlKey ) {
        alert('you pressed ctrlKey+Enter');
    }

});


        });

    </script>

</th:block>

<th:block layout:fragment="head">
    <style>
        .border-no {
           border: 0px;
        }
    </style>
</th:block>

<div layout:fragment="content">




                <!-- START PAGE HEADING -->
                <div class="app-heading app-heading-bordered app-heading-page">
                    <div class="title">
                        <h1>컴포넌트 관리</h1>
                        <p>컴포넌트 목록</p>
                    </div>

                </div>
                <div class="app-heading-container app-heading-bordered bottom">
                    <ul class="breadcrumb">
                        <li><a href="/boooda/#">Dashboard</a></li>
                        <li><a href="/boooda/#">Components</a></li>
                        <li class="active">Tables</li>
                    </ul>
                </div>
                <!-- END PAGE HEADING -->

                <!-- START PAGE CONTAINER -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="block block-condensed">
                                <!-- START HEADING -->
                                <div class="app-heading app-heading-small">
                                    <div class="title">
                                        <h1>폐기물부담금 고도화 - 컴포넌트 정의 (이후 세션으로 프로젝트명 가져오삼, 아님 파라미터라도)</h1>
                                        <p>빈공간 없이 대분류, 중분류, 소분류, 컴포넌트 명을 채워 주시기바랍니다.</p>
                                    </div>
                                </div>
                                <!-- END HEADING -->

                                <div class="block-content">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">프로젝트 선택 임시라고(나중에 없애)</label>
                                        <div class="col-md-10">
                                            <select class="bs-select" name="prjNo" >
                                                <option th:each="item : ${projectList}" th:selected="${item.prjNo eq param.prjNo}" th:value="${item.prjNo}" th:text="${item.prjNm}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                        <tr>
                                            <th style="width:5%; text-align:center;">No</th>
                                            <th class="text-center">대분류</th>
                                            <th class="text-center">중분류</th>
                                            <th class="text-center">소분류</th>
                                            <th class="text-center">컴포넌트</th>
                                            <th class="text-center">관리</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="i: ${#numbers.sequence(1,15)}" style="height:13px;">
                                            <td style="padding: 3px 3px;" class="text-center" th:text="${i+1}"></td>
                                            <td style="padding: 3px 3px;"><input type="text" class="form-control border-no" th:id="${'id-' + i + '-1'}"></td>
                                            <td style="padding: 3px 3px;"><input type="text" class="form-control border-no" th:id="${'id-' + i + '-2'}"></td>
                                            <td style="padding: 3px 3px;"><input type="text" class="form-control border-no" th:id="${'id-' + i + '-3'}"></td>
                                            <td style="padding: 3px 3px;"><input type="text" class="form-control border-no" th:id="${'id-' + i + '-4'}"></td>
                                            <td style="padding: 3px 3px;">
                                                <button class="btn btn-default btn-icon" name="btnPropslRequestList"><span class="icon-list"></span></button>
                                                <button class="btn btn-default btn-icon"><span class="icon-users"></span></button>
                                                <button class="btn btn-default btn-icon"><span class="icon-chart-bars"></span></button>
                                                <button class="btn btn-default btn-icon"><span class="icon-clock"></span></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" type="button" id="btnSave">저장</button>
                    </div>

                </div>

                </div>
                <!-- END PAGE CONTAINER -->

</block>