<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/booodaLayout}">

<th:block layout:fragment="beyondPageScript">
    <script type="text/javascript">
        var domainNm = "component";

        $(document).ready(function(){

            // 저장
            $("#btnSave").on("click", function(){

                var sCallbackFn = function (data) {
                    setTimeout(function(){
                        location.reload();
                    },1000);
                };

                var fCallbackFn = function (xhr, status) {
                };

                var ajax_post = new POST("/" + domainNm + "/save"
                                        , "form1"
                                        , sCallbackFn
                                        , fCallbackFn);

            });

            // 화면 리로드
            $("#btnList").on("click", function(){
                location.reload();
            });

            $( "input [type=text]" ).keydown(function(event) {

                if(event.ctrlKey && event.which === 13 ) { //엔터
                    var id = $(this).attr("id"); //현재 포커스 input
                    var arrId = id.split('-');
                    var prefix = arrId[0];
                    var h = arrId[1]; //세로 index
                    var w = arrId[2]; //가로 index

                    var componentNoId = $("#componentNoId-" + h + w).val();

                    $('#modal-contact-us').modal('show');

                }
            }); // end  - $( "input" ).keydown(function(event) {



            $( "input [type=text]" ).keyup(function(event) {

                var id = $(this).attr("id"); //현재 포커스 input
                var arrId = id.split('-');
                var prefix = arrId[0];
                var h = parseInt(arrId[1]); //세로 index
                var w = parseInt(arrId[2]); //가로 index

                if(event.ctrlKey && (event.which === 37 || event.which === 38 || event.which === 39 || event.which === 40)  ) { //왼쪽
                    if( event.which === 37) { //왼쪽
                        w -= 1;
                    } else if( event.which === 39) { //오른족
                        w += 1;
                    } else if( event.which === 38) { //위
                        h -= 1;
                    } else if( event.which === 40) { //아래
                        h += 1;
                    }
                    var newId = prefix + "-" + h + "-" + w ;
                    $("#"+newId).focus();
                }
            }); // end  - $( "input" ).keyup(function(event) {

             $( "input [type=text]" ).bind("paste", function (e) {

                var id = $(this).attr("id"); //현재 포커스 input
                var arrId = id.split('-');
                var prefix = arrId[0];
                var h = parseInt(arrId[1]); //세로 index
                var w = parseInt(arrId[2]); //가로 index

                LOG.debug( "id : " + id);

                // Ctrl + C 원래 기능때문에 현재 포커스에 전체 정보가 붙쳐넣기 됨 (이걸 스탑스킴, 이벤트 확산 중지)
                e.stopPropagation();
                e.preventDefault();

                // Ctrl + C 한 클립보드 정보
                var pastedData = e.originalEvent.clipboardData.getData('text');

                var rows = pastedData.split("\n");

                LOG.debug(rows);

                for(var y in rows) {
                    var cells = rows[y].split("\t");

                    var ii = 0
                    for(var x in cells) {
                        var newId = prefix + "-" + h + "-" + (w + (ii++)) ;
                        $("#"+newId).val(cells[x]);
                    }

                    h += 1;
                }

            }); // end - $( "input" ).bind("paste", function (e) {


            var NOTIFYID="";
            var NONNOTIFYID="";
            var NCONTENT="";

            $('#modal-contact-us').on('show.bs.modal', function(event) {
                NOTIFYID = $(event.relatedTarget).data('notifyid');
                NONNOTIFYID = $(event.relatedTarget).data('nonnotifyid');
                NCONTENT = $(event.relatedTarget).data('ncontent');
            });





        }); // end - $(document).ready(function(){



    </script>

</th:block>

<th:block layout:fragment="head">
    <style>
        .border-no {
           border: 0px;
        }
        .form-control {
            padding : 1px 1px;
            height: 25px;
        }
    </style>
</th:block>

<div layout:fragment="content">




    <!-- START PAGE HEADING -->
    <div class="app-heading app-heading-bordered app-heading-page">
        <div class="title">
            <h1>컴포넌트 관리</h1>
            <p>컴포넌트 목록</p>
        </div>

    </div>
    <div class="app-heading-container app-heading-bordered bottom">
        <ul class="breadcrumb">
            <li><a href="/boooda/#">Dashboard</a></li>
            <li><a href="/boooda/#">Components</a></li>
            <li class="active">Tables</li>
        </ul>
    </div>
    <!-- END PAGE HEADING -->

    <!-- START PAGE CONTAINER -->
    <div class="container">

        <div class="row margin-bottom-50">
            <div class="col-md-3 col-md-offset-3 col-sm-6">
                <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modal-contact-us">Email us your question</button>
            </div>
            <div class="col-md-3 col-sm-6">
                <button class="btn btn-info btn-lg btn-block">Send us a tweet</button>
            </div>
        </div>

        <!-- MODAL DEFAULT -->
        <div class="modal fade" id="modal-contact-us" tabindex="100" role="dialog" aria-labelledby="modal-contact-us-header">
            <div class="modal-dialog" role="document">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon-cross"></span></button>

                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-rg text-uppercase text-bold margin-bottom-0">Contact Us</h2>
                        <p class="subheader">We provide one of the best supports ever</p>

                        <div class="form-group margin-top-20">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="Your name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Your email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Message</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default">Submit</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- END MODAL DEFAULT -->

        <div class="row">
            <div class="col-md-12">

                <div class="block block-condensed">
                    <!-- START HEADING -->
                    <div class="app-heading app-heading-small">
                        <div class="title">
                            <h1>폐기물부담금 고도화 - 컴포넌트 정의 (이후 세션으로 프로젝트명 가져오삼, 아님 파라미터라도)</h1>
                            <p>빈공간 없이 대분류, 중분류, 소분류, 컴포넌트 명을 채워 주시기바랍니다.</p>
                        </div>
                    </div>
                    <!-- END HEADING -->

                    <div class="block-content">
                        <div class="form-group">
                            <label class="col-md-2 control-label">프로젝트 선택 임시라고(나중에 없애)</label>
                            <div class="col-md-5">
                                <select class="bs-select" name="prjNo" >
                                    <option th:each="item : ${projectList}" th:selected="${item.prjNo eq param.prjNo}" th:value="${item.prjNo}" th:text="${item.prjNm}"></option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-default" type="button" id="btnSave">저장</button>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th style="width:5%; text-align:center;">No</th>
                                <th class="text-center">대분류</th>
                                <th class="text-center">중분류</th>
                                <th class="text-center">소분류</th>
                                <th class="text-center">컴포넌트</th>
                                <th class="text-center">관리</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i: ${#numbers.sequence(1, 30)}" >
                                <input type="hidden" name="isChgYnId" th:id="${'isChgYnId-' + i}" th:value="false"/>

                                <input type="hidden" name="oriComponentNm1" th:id="${'oriComponentNm-' + i + '-1'}">
                                <input type="hidden" name="oriComponentNm2" th:id="${'oriComponentNm-' + i + '-2'}">
                                <input type="hidden" name="oriComponentNm3" th:id="${'oriComponentNm-' + i + '-3'}">
                                <input type="hidden" name="oriComponentNm4" th:id="${'oriComponentNm-' + i + '-4'}">

                                <input type="hidden" name="componentNo1" th:id="${'componentNoId-' + i + '-1'}">
                                <input type="hidden" name="componentNo2" th:id="${'componentNoId-' + i + '-2'}">
                                <input type="hidden" name="componentNo3" th:id="${'componentNoId-' + i + '-3'}">
                                <input type="hidden" name="componentNo4" th:id="${'componentNoId-' + i + '-4'}">

                                <td style="padding: 3px 3px;" class="text-center" th:text="${i}"></td>
                                <td style="padding: 3px 3px;"><input type="text" name="componentNm1" th:id="${'id-' + i + '-1'}" class="form-control border-no" th:value="${'대분류 - ' + i + '-1'}"></td>
                                <td style="padding: 3px 3px;"><input type="text" name="componentNm2" th:id="${'id-' + i + '-2'}" class="form-control border-no" th:value="${'중분류 - ' + i + '-2'}"></td>
                                <td style="padding: 3px 3px;"><input type="text" name="componentNm3" th:id="${'id-' + i + '-3'}" class="form-control border-no" th:value="${'소분류 - ' + i + '-3'}"></td>
                                <td style="padding: 3px 3px;"><input type="text" name="componentNm4" th:id="${'id-' + i + '-4'}" class="form-control border-no" th:value="${'컴포넌트 - ' + i + '-4'}"></td>
                                <td style="padding: 3px 3px;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-default" type="button" id="">저장</button>
            <button class="btn btn-default" type="button" id="">저장</button>
        </div>

    </div>

</div>
<!-- END PAGE CONTAINER -->

</block>