<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->

    <div th:fragment="footerResourcesFragment">
        <!-- IMPORTANT SCRIPTS -->
        <script type="text/javascript" src="/boooda/js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/boooda/js/vendor/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="/boooda/js/vendor/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/boooda/js/vendor/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/boooda/js/vendor/moment/moment.min.js"></script>
        <script type="text/javascript" src="/boooda/js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <!-- END IMPORTANT SCRIPTS -->
        <!-- THIS PAGE SCRIPTS -->
        <script type="text/javascript" src="/boooda/js/vendor/bootstrap-select/bootstrap-select.js"></script>

        <!-- END THIS PAGE SCRIPTS -->
        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="/boooda/js/app.js"></script>
        <script type="text/javascript" src="/boooda/js/app_plugins.js"></script>
        <script type="text/javascript" src="/boooda/js/app_demo.js"></script>
        <!-- END APP SCRIPTS -->
        <script src="/boooda/js/vendor/tinymce/tinymce.min.js"></script>
        <script src="/boooda/js/vendor/summernote/summernote.min.js"></script>

        <!-- USER COMMON SCRIPT -->
        <script type="text/javascript" src="/js/common.js"></script>
        <!-- END USER COMMON SCRIPT -->

    </div>
</html>