<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->

    <head th:fragment="headerFragment">
        <title>Boooya - Default Tables</title>

        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/boooda/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/boooda/favicon.ico" type="image/x-icon">
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->
        <link rel="stylesheet" href="/boooda/css/styles.css">
        <!-- EOF CSS INCLUDE -->

</html>