<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

        <div th:fragment="statusbarsFragment">



            <div class="app-statusbar" id="statusbar_1">
                <div class="app-statusbar-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar" id="blackSavingStatusBarId">
                <div class="app-statusbar-icon"><div class="app-spinner loading"></div></div>
                <div class="app-statusbar-text">Loading...</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar" id="statusbar_3">
                <div class="app-statusbar-icon"><span class="icon-alarm"></span></div>
                <div class="app-statusbar-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar app-statusbar-success" id="greenStatusBarId">
                <div class="app-statusbar-icon"><span class="icon-checkmark-circle"></span></div>
                <div class="app-statusbar-text">Success statusbar</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar app-statusbar-warning" id="statusbar_5">
                <div class="app-statusbar-icon"><span class="icon-warning"></span></div>
                <div class="app-statusbar-text">Warning statusbar</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar app-statusbar-info" id="statusbar_6">
                <div class="app-statusbar-icon"><span class="icon-arrow-right-circle"></span></div>
                <div class="app-statusbar-text">Info statusbar</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar app-statusbar-danger" id="redStatusBarId">
                <div class="app-statusbar-icon"><span class="icon-volume-high"></span></div>
                <div class="app-statusbar-text">Danger statusbar</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar app-statusbar-default" id="statusbar_8">
                <div class="app-statusbar-body">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">Authentication</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Login">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Password">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default btn-clean">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="app-statusbar-close icon-remove"></div>
            </div>

            <div class="app-statusbar app-statusbar-top" id="statusbar_9">
                <div class="app-statusbar-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>

            <div class="app-statusbar" id="statusbar_10">
                <div class="app-statusbar-icon"><div class="app-spinner loading"></div></div>
                <div class="app-statusbar-text">Saving...</div>
                <div class="app-statusbar-close fa fa-times"></div>
            </div>



        </div>
