<!DOCTYPE html>
<html lang="en">
    <div th:replace="~{fragments/common/headerResources :: headerResourcesFragment}"></div>

    <div layout:fragment="head"></div>
    </head>
    <body>
        <!-- APP WRAPPER -->
        <div class="app">

            <!-- START APP CONTAINER -->
            <div class="app-container">

                <!-- START SIDEBAR -->
                <div th:replace="~{fragments/common/leftMenu :: leftMenuFragment}"></div>
                <!-- END SIDEBAR -->

                <!-- START APP CONTENT -->
                <div class="app-content app-sidebar-left">
                    <!-- START APP HEADER -->
                    <div th:replace="~{fragments/common/header :: headerFragment}"></div>

                    <div layout:fragment="content"></div>

                </div>
                <!-- END APP CONTENT -->
            </div>
            <!-- END APP CONTAINER -->

            <!-- START APP SIDEPANEL -->
            <div th:replace="~{fragments/common/notifications :: notificationsFragment}"></div>
            <!-- END APP SIDEPANEL -->

            <!-- APP OVERLAY -->
            <div class="app-overlay"></div>
            <!-- END APP OVERLAY -->

            <!-- LIST OF STATUSBARS -->
            <div th:replace="~{fragments/common/statusbars :: statusbarsFragment}"></div>
            <!-- END OF STATUSBARS -->

        </div>
        <!-- END APP WRAPPER -->

        <div th:replace="~{fragments/common/footer :: footerFragment}"></div>
        <div th:replace="~{fragments/common/footerResources :: footerResourcesFragment}"></div>
        <div layout:fragment="beyondPageScript"></div>
    </body>
</html>