<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/booodaLayout}">

<th:block layout:fragment="beyondPageScript">
    <script type="text/javascript">
        var domainNm = "requirementSpec";

        $(document).ready(function(){

            // 신규등록
            $("#btnNew").on("click", function(){
                location.href = "/" + domainNm + "/goAdd?prjNo=[[${session['prjNo']}]]"
            });

            // 상세 화면으로 이동
            $(".go-view").on("click", function(){
                location.href = "/" + domainNm + "/goView/" + $(this).attr("data-key");
            });

            // 수정 화면으로 이동
            $("button[name=btnEditPropslRequest]").on("click", function(){
                location.href = "/" + domainNm + "/goEdit/" + $(this).attr("data-key");
            });

        });

    </script>

</th:block>


<div layout:fragment="content">

                <!-- START PAGE HEADING -->
                <div class="app-heading app-heading-bordered app-heading-page">
                    <div class="title">
                        <h1>요구사항 명세 관리</h1>
                        <p>요구사항 명세를 관리합니다.</p>
                    </div>

                </div>
                <div class="app-heading-container app-heading-bordered bottom">
                    <ul class="breadcrumb">
                        <li><a href="/boooda/#">Dashboard</a></li>
                        <li><a href="/boooda/#">Components</a></li>
                        <li class="active">Tables</li>
                    </ul>
                </div>
                <!-- END PAGE HEADING -->

                <!-- START PAGE CONTAINER -->
                <div class="container">

                    <div class="block block-condensed">
                        <!-- START HEADING -->
                        <div class="app-heading app-heading-small">
                            <div class="title">
                                <h5>요구사항 명세 목록</h5>
                                <p>요구사항 명세 목록을 조회합니다.</p>
                            </div>
                        </div>
                        <!-- END HEADING -->

                        <div class="table-responsive">
                            <table class="table table-head-light table-striped">
                                <thead>
                                <tr>
                                    <th>No/요구사항ID</th>
                                    <th>상태</th>
                                    <th>명칭</th>
                                    <th>정의</th>
                                    <th>내용</th>
                                    <th>관리</th>
                                </tr>
                                </thead>
                                <tbody>

<!--                                private Long requirementNo; //요구사항 번호-->
<!--                                private String requirementClasCd; //요구사항 분류 코드-->
<!--                                private String requirementDefi; //요구사항 정의-->
<!--                                private String requirementText; //요구사항 내용-->
<!--                                private String requirementId; //요구사항 id-->
<!--                                private String priorRankNo; //우선 순위 번호-->
<!--                                private String dfflyCd; //난이도 코드-->
<!--                                private String rstcMaterText; //제약 사항 내용-->
<!--                                private String inspStdrText; //검사 기준 내용-->
<!--                                private String fnctSeCd; //기능 구분 코드-->
<!--                                private String requirementNm; //요구사항 명칭-->
<!--                                private String aceptncYn; //수용 여부-->
<!--                                private String chrgEmpId; //담당 사원 id-->
<!--                                private String entyPathText; //진입 경로 내용-->
<!--                                private String specProgStatCd; //명세 진행 상태 코드-->
<!--                                private String apvlReqDtt; //승인 요청 일시-->
<!--                                private String apvlpsId; //승인자 ID-->
<!--                                private String apvlDtt; //승인 일시-->
<!--                                private String noteCn;//노트 내용-->

                                <tr th:each="item : ${requirementSpecList}">
                                    <td>
                                        <p><strong th:text="${item.requirementId}"></strong><br th:text="${item.requirementNo}"></p>
                                    </td>
                                    <td th:text="${item.specProgStatCd}"></td>
                                    <td class="go-view" th:attr="data-key=${item.requirementNo}" style="cursor: pointer" th:text="${item.requirementNm}"></td>
                                    <td th:text="${item.requirementDefi}"></td>
                                    <td th:utext="${item.requirementText}"></td>
                                    <td>
                                        <button class="btn btn-default btn-icon" name="btnEditPropslRequest" th:attr="data-key=${item.requirementNo}"><span class="icon-pencil"></span></button>
                                        <button class="btn btn-default btn-icon"><span class="icon-users"></span></button>
                                        <button class="btn btn-default btn-icon"><span class="icon-chart-bars"></span></button>
                                        <button class="btn btn-default btn-icon"><span class="icon-clock"></span></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                        <div class="form-group">
                            <button class="btn btn-default" type="button" id="btnNew">신규생성</button>
                        </div>

                    </div>

                </div>
                <!-- END PAGE CONTAINER -->

</div>